<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="header">
    <div class="header-title">
        <span class="icon">🏥</span>
        <span>EHR Kardio – Station</span>
        <span>Login</span>
    </div>
</div>

<div class="container">

    {% if current_nurse %}
        <p>Aktuell eingeloggt als: <strong>{{ current_nurse["name"] }}</strong></p>
    {% else %}
        <p>Bitte anmelden.</p>
    {% endif %}

 <form method="POST">
        <label for="nurse_id"><strong>Pflegefachkraft:</strong></label>
        <select name="nurse_id" id="nurse_id" required>
            <option value="">– bitte wählen –</option>

            {% for n in nurses %}
                {% set is_selected = current_nurse and current_nurse['id'] == n['id'] %}
                <option value="{{ n['id'] }}">
                    {{ n["name"] }}
                </option>
            {% endfor %}
        </select>

        <br><br>
        <button type="submit" class="btn-primary">Als Pflegefachkraft einloggen</button>
    </form>

</div>

</body>
</html>

